# Скопируйте в ~/kittygram/.env на сервере 81.26.183.233
# Замените пароли и SECRET_KEY на свои.

POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=ВАШ_СИЛЬНЫЙ_ПАРОЛЬ
DB_HOST=db
DB_PORT=5432

SECRET_KEY=ВАШ_ДЛИННЫЙ_SECRET_KEY
DEBUG=False
ALLOWED_HOSTS=mykittygramqqqwww.hopto.org,localhost,127.0.0.1

CSRF_TRUSTED_ORIGINS=https://mykittygramqqqwww.hopto.org

DOCKERHUB_USERNAME=bilyal09
